@{
    ViewData["Title"] = "Crear cadete";
}

<a asp-controller="Cadete" asp-action="Index" >Cancelar</a>

@model SistemaCadeteria.ViewModels.CrearCadeteViewModel

<section>
    <h2>Crear cadete</h2>
    <form method="post">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre">
        <br>

        <label asp-for="@Model.Direccion"></label>
        <input asp-for="@Model.Direccion">
        <br>

        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono">
        <br>

        <button>Ingresar</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<br>
<a asp-controller="Home" asp-action="CerrarSesion">Cerrar sesion</a>