@{
    ViewData["Title"] = "Crear Pedido";
}

<a asp-controller="Pedido" asp-action="Index" >Cancelar</a>

@model SistemaCadeteria.ViewModels.CrearPedidoViewModel

<section>
    <h2>Tomar pedido</h2>
    <form method="post">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre">
        <br>

        <label asp-for="@Model.Direccion"></label>
        <input asp-for="@Model.Direccion">
        <br>

        <label asp-for="@Model.Telefono"></label>
        <input asp-for="@Model.Telefono">
        <br>

        <label asp-for="@Model.DatosReferenciaDireccion"></label>
        <input asp-for="@Model.DatosReferenciaDireccion">
        <br>

        <label asp-for="@Model.Observaciones"></label>
        <input asp-for="@Model.Observaciones">
        <br>

        <button>Ingresar</button>
    </form>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}