@{
    ViewData["Title"] = "Editar Pedido";
}

<a asp-controller="Pedido" asp-action="Index">Cancelar</a>

@model SistemaCadeteria.ViewModels.EditarPedidoViewModel;

<section>
    <h2>Editar cadete</h2>
    <form method="post">
        <input asp-for="@Model.NroPedido" value="@Model.NroPedido" hidden>

        <label asp-for="@Model.Nombre">
            <input asp-for="@Model.Nombre" value="@Model.Nombre">
        </label>
        <br>

        <label asp-for="@Model.Direccion">
            <input asp-for="@Model.Direccion" value="@Model.Direccion">
        </label>
        <br>

        <label asp-for="@Model.Telefono">
            <input asp-for="@Model.Telefono" value="@Model.Telefono">
        </label>
        <br>

        <label asp-for="@Model.DatosReferenciaDireccion">
            <input asp-for="@Model.DatosReferenciaDireccion" value="@Model.DatosReferenciaDireccion">
        </label>
        <br>

        <label asp-for="@Model.Observaciones">
            <input asp-for="@Model.Observaciones" value="@Model.Observaciones">
        </label>
        <br>

        <button>Editar</button>
    </form>
</section>