@model SistemaCadeteria.Models.Cadete
@{
    ViewData["Title"] = "Modificación de cadete";
}

@Html.ActionLink("Cancelar", "Index", "Inicio")

@using (Html.BeginForm("EditarCadete", "Inicio"))
{
    <input type="hidden" name="id" value="@Model.Id">

    <label for="name">
        Nombre completo: <input type="text" name="name" id="name" value="@Model.Nombre">
    </label>
    <label for="adress">
        Dirección: <input type="text" name="adress" id="adress" value="@Model.Direccion">
    </label>
    <label for="phone">
        Teléfono: <input type="text" name="phone" id="phone" value="@Model.Telefono">
    </label>
    <input type="submit" , value="Guardar cambios">
}