@model SistemaCadeteria.Models.DBCadeteria

@{
    ViewData["Title"] = "Inicio";
}
<h1>Listado</h1>

<hr>

<h3>Cadetes</h3>


@if (Model.Cadeteria.Cadetes.Count() < 10)
{
    @Html.ActionLink("Contratar cadete",
"CrearCad")
}
else
{
    <p>Se ha alcanzado la cantidad máxima de cadetes</p>
}

@{
    if (Model.Cadeteria.Cadetes.Count() > 0)
    {

        <table class="tabla">
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Pedidos asignados</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Cadeteria.Cadetes)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.Pedidos.Count()</td>
                    <td>@Html.ActionLink("Editar", "EditarCad", new {id = item.Id})</td>
                    <td>@Html.ActionLink("Dar de baja",
            "BorrarCadete",
            new {id = item.Id},
            new { onclick = $"return confirm('¿Está seguro que desea dar de baja al cadete {item.Nombre}?');"})</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>La cadetería no dispone de ningún cadete hasta el momento</p>
    }
}

<hr>

<h3>Pedidos no asignados</h3>

@if (Model.PedidosNoAsignados.Count() < 20)
{
    @Html.ActionLink("Crear pedido", "CrearPed")
}
else
{
    <p>Se ha alcanzado la cantidad máxima de pedidos sin asignar</p>
}

@{
    if (Model.PedidosNoAsignados.Count() > 0)
    {
        <table class="tabla">
            <tr>
                <th>Estado</th>
                <th>Nombre del cliente</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Referencias</th>
                <th>Observaciones</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.PedidosNoAsignados)
            {
                <tr>
                    <td>@item.Estado</td>
                    <td>@item.Costumer.Nombre</td>
                    <td>@item.Costumer.Telefono</td>
                    <td>@item.Costumer.Direccion</td>
                    <td>@item.Costumer.DatosReferenciaDireccion</td>
                    <td>@item.Observaciones</td>
                    <td>@Html.ActionLink("Editar", "EditarPed", new { nPedido = item.NroPedido })</td>
                    <td>@Html.ActionLink("Eliminar",
            "BorrarPedido",
            new { nPedido = item.NroPedido },
            new { onclick = $"return confirm('¿Está seguro que desea eliminar el pedido de {item.Costumer.Nombre}?');" })</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>La cadetería no tiene pedidos que realizar</p>
    }
}